# Ignore all
*

# Allow basics
!/.gitignore
!/.config/


#############
# Whitelist #
#############

# Zsh
!/.zshrc

# Zellij
!.config/zellij/
!.config/zellij/**

# Neovim
!.config/nvim/
!.config/nvim/**

# Ghostty
!.config/ghostty/
!.config/ghostty/**

# Hyprland
!.config/hypr/
!.config/hypr/**

# Waybar
!.config/waybar/
!.config/waybar/**

# Rofi
!.config/rofi/
!.config/rofi/**


##########
# Ignore #
##########

# backups
*.bak
*.swp
